<h1>Rock, Paper, Scissors</h1>
<hr>
<h2><%= @message %></h2>
<%= link_to "Play again!", rps_url%>
<p></p>
<%= image_tag("#{@user}.jpg", :size => "200x200")%>
<%= image_tag("#{@comp}.jpg", :size => "200x200")%>